<div id="main" class="flex flex-col items-center justify-center">
  <div class="p-4">
    <div class="flex flex-col justify-center modal gap-2">
      <h3>Set-up Multi-Factor Authentication</h3>
      <div class="flex flex-col gap-4 max-w-4xl">
        <p>
          Now you will need to add your one-time password secret to a
          authentication app, or a password manager. Apps like Authy, or
          password managers like 1Password will work.
        </p>
        <div class="flex items-center justify-center">
          <%= current_user.otp_qrcode_svg.html_safe %>
        </div>
        <div class="pt-4">
          <p>
            Scan the above QR code with your authentication app of choice.
          </p>
          <p>
            Or, enter the following code: <code><%= current_user.otp_secret %></code>
          </p>
          <p>
            Once it is set up, enter the generated code below, to continue.
          </p>
        </div>
        <% if params[:invalid] %>
          <div class="flex justify-center">
            <strong>Invalid OTP, please try again!</strong>
          </div>
        <% end %>
        <div class="flex flex-col-reverse xs:flex-row items-center justify-between gap-2 pt-4">
          <%= link_to "Cancel", account_mfa_path(account_id: @account_id), class: "button clear primary" %>
          <%= form_with scope: :user, method: :put, url: account_mfa_path(account_id: @account_id) do |form| %>
            <%= form.hidden_field :otp_required_for_login, value: true %>
            <div class="flex gap-2">
              <%= text_field_tag :verify, {}, placeholder: "123456", class: "mb-0" %>
              <%= form.submit "Verify", class: "button primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>